<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright"><p class="text-muted" style="margin-top: 10px;"><small>Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</small></p></span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <p class="text-muted" style="margin-top: 10px;"><small>{{ site.address }}</small></p>
            </div>
        </div>
    </div>
</footer>
